<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Student</title>
</head>
<body>
<h1>Edit Student</h1>
<form th:action="@{/edit/{id}(id=${student.id})}" th:object="${student}" method="post">

  <input type="hidden" th:field="*{id}" />
  <label>First Name: <input type="text" th:field="*{firstName}" /></label><br/>
  <label>Last Name: <input type="text" th:field="*{lastName}" /></label><br/>
  <label>Age: <input type="text" th:field="*{age}" /></label><br/>


  <input type="submit" value="Update"/>
</form>


<a href="/">Back to List</a>
</body>
</html>
